@import "https://fonts.googleapis.com/css?family=Roboto:100,300";
@import "https://fonts.googleapis.com/css?family=Roboto+Mono:300,700";

.navContainer {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

li,
a {
  list-style: none;
  text-decoration: none;
  padding: 20px;
  font-family: "Roboto Mono";
}

a:hover {
  background-color: white;
  border-radius: 5px;
}
