@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

.header {
  /* background-color: #fff; */
  background: #008e97;

  /* background-color: rgb(255, 255, 255); */
  /* text-shadow: 3px 4px 6px rgba(3, 2, 4, 0.55); */
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  /* background-color: #fff; */
  background: linear-gradient(
    90deg,
    rgba(0, 142, 151, 1) 0%,
    #5f9ea0 51%,
    #6699cc 100%
  );
  /* background-color: white; */
}

.header li a {
  font-family: "Maven Pro", sans-serif;
  padding: 20px 20px;
  text-decoration: none;
  color: #551a8b;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 20px;
  float: right;
  transition: transform 250ms;
  border-radius: 2px;
}

.header li a:hover {
  background-color: #ffffff46;
  border-bottom: #551a8b 4px solid;
  transform: translateY(2px);
}

.header .logo {
  font-family: "Maven Pro", sans-serif;
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  letter-spacing: 3px;
}

.header .logo:active {
  color: #270646;
  transition: all 0.2s ease;
  transform: translateY(4px);
}
