.footerDiv {
  margin-top: 1rem;
  background: linear-gradient(
    90deg,
    rgba(0, 142, 151, 1) 0%,
    rgba(95, 158, 160, 1) 51%,
    rgba(102, 153, 204, 1) 100%
  );
  box-shadow: inset 4px 1px 1px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footerParagraph {
  margin-left: 20px;
  color: black;
}
