body {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/BackToGymSWEAT_enf1f07a7f6f79e7b8807d2436a6ae8e8b.jpg);
  height: 710px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  margin: 0;
}
